<div ng-app="RazzleApp" ng-controller="GameCtrl as gameCtrl">
    <table>
        <tr>
            <td><div class="content">{{GameBoard[0]}}</div></td>
            <td><div class="content">{{GameBoard[1]}}</div></td>
            <td><div class="content">{{GameBoard[2]}}</div></td>
            <td><div class="content">{{GameBoard[3]}}</div></td>
        </tr>
        <tr>
            <td><div class="content">{{GameBoard[4]}}</div></td>
            <td><div class="content">{{GameBoard[5]}}</div></td>
            <td><div class="content">{{GameBoard[6]}}</div></td>
            <td><div class="content">{{GameBoard[7]}}</div></td>
        </tr>
        <tr>
            <td><div class="content">{{GameBoard[8]}}</div></td>
            <td><div class="content">{{GameBoard[9]}}</div></td>
            <td><div class="content">{{GameBoard[10]}}</div></td>
            <td><div class="content">{{GameBoard[11]}}</div></td>
        </tr>
        <tr>
            <td><div class="content">{{GameBoard[12]}}</div></td>
            <td><div class="content">{{GameBoard[13]}}</div></td>
            <td><div class="content">{{GameBoard[14]}}</div></td>
            <td><div class="content">{{GameBoard[15]}}</div></td>
        </tr>
    </table>
</div>
