<div class="jumbotron">
    <h1>RAZZLE</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>FOO</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">RULES &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FOO</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">NEW GAME &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HIGH SCORES</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">HIGH SCORES &raquo;</a></p>
    </div>
</div>
